<%- include('partials/header') %>

    <div class="jumbotron text-center">
      <div style="display: flex;width: 100vw;justify-content: space-around;">
        <h2>Roll number - <%= attendances.username.slice(0,5) %></h2>
        <h2>Current Status - <%= attendances.currentStatus.toUpperCase() %></h2>
      </div>
        <div class="container">
            
            <table class="table">
            <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
            <% attendances.entry.map(function(user){ %>
                        <tr>
                            <th scope="row"><%=user.date%></th>
                            <td><%=user.time%></td>
                            <td><%=user.status%></td>
                            
                          </tr>
                <% }) %>
            </tbody>
        </table>

                    <hr>
        </div>
    </div>

    <%- include('partials/footer') %>